body{
	background-color:#222;
	text-align: center;
	font-family: Arial;
}

#photo-heading{
	font-size: 28px;
	color: white;
	margin: 20px 0;
}



#animal-photos div{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 20px;
}

img{
	width: 200px;
	height: 180px;
	border-radius: 30px;
}